$font-size:
80px,
60px,
40px,
30px,
25px,
20px,
18px;


@mixin flex ($flex, $direction, $justify, $aling) {
    display: $flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $aling;    
}
